// Botonera 
.botonera {
	background-color: map-get($map:$paleta, $key:'white');
	.botonera-desc {
		max-width: 1140px;
		margin: auto;
		/* Logo Home */
		.botonera__logo {
			width: 18rem;
		}
		/* Lista accesos */
		.botonera__lista {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			.botonLogIn{
				margin-right: 0.5rem;
				font-size: 2rem;
			}
		}
		
		.botonCarrito{
			@include flexContent(row, space-around, center);
			@include text($textM, auto, center, $darkColor);
			img{
				width: 50%;
				margin-right: 2rem;
			}
		}
	}
}