	/*Projects*/
.projectsContent{
	grid-area: projectsContent;
	padding-top: 10rem;
	background-color: rgb(83, 111, 142);
	.projects__title--xl{
		margin: 2rem auto;
		padding: 1rem 2rem;
		animation-name: textAlpha;
		animation-duration: 2s;
		@include text($textXL, auto, center, $lightColor);
	}
	.projects__text--xl{
		border-top: solid 2px $lightColor;
		margin: 1rem;
		padding: 1rem;
		@include text(1.7rem, "", center, $lightColor);
		span{
			text-transform: uppercase;
			color: map-get($map:$paleta,$key:'darkblue');
		}
	}
	.projects__card{
		@include flexContent(column, center, center);
		.card{
			border: solid 0.3rem white;
			padding: 0.5rem;
			transition: all 0.7s;
			background-color: map-get($map:$paleta,$key:'darkblue');
			border-radius: 3%;
			@include flexContent(column, space-evenly, center);
			.card__title{
				@include text($textM, auto, center, $lightColor);
				margin: 1rem
			}
			.card__text{
				@include text($textS, auto, end, $lightColor);
				display: flex;
				margin: auto 1rem;
			}
			div{
				width: 60%;
				.buttonCard{
					@extend %button;
					background-color: map-get($map:$paleta,$key:'white');
				}
			}
			&:hover{
				transform: scale(1.02);
				background-color: map-get($map:$paleta,$key:'dark');
			}
		}
		@media (min-width: 768px){
			@include flexContent(row, center, center);
			flex-wrap: wrap;
		}
	}
	.projects__carrito{
		@include flexContent(row, start, start);
		flex-wrap: wrap;
		height: 620px;
		.card{
			padding: 1rem;
			transition: all 0.7s;
			background-color: map-get($map:$paleta,$key:'darkblue');
			border-radius: 5px;
			@include flexContent(row, space-around, center);
			flex-wrap: wrap;
			.card__title{
				@include text(2rem, auto, center, $lightColor);
				width: 100%;
			}
			.card__info{
				width: 100%;
				@include flexContent(row, space-evenly, center);
				.card__text{
					margin-right: 0.3rem;
					@include text($textS, auto, start, $lightColor);
				}
			}
			.buttonCard-eliminar{
				width: 20%;
			}
		}
	}
	.totalCarrito{
		margin-right: 5%;
		@include text(2rem, auto, end, $darkColor);
	}
	.botonCarrito{
		@include flexContent(column, space-evenly, center);
		.btn{
			margin-bottom: 0.3rem;
			width: 70%;
			font-size: 1.5rem;
			&:nth-child(2){
				width: 60%;
			}
			
		}
	}
}