/*Talk to us*/

.talkToUsContent{
	width: 100%;
	margin-top: 9rem;
	background-color: rgb(83, 111, 142);
	.talkToUs__title--xl{
		padding: 1rem 3rem;
		animation-name: textAlpha;
		animation-duration: 2s;
		@include text($textXL, auto, center, $lightColor);
	}
	.talkToUs__text--xl{
		@include text(1.7rem, auto, center, $lightColor);
		border-top: solid 2px $lightColor;
		margin: 1rem;
		padding: 1rem;
		span{
			text-transform: uppercase;
			color: map-get($map:$paleta,$key:'darkblue');
		}
	}

	.sectionIdeas{
		align-items: center;
		.sectionIdeas__title--xl{
			animation-name: textAlpha;
			animation-duration: 2s;
			@include text(3rem, auto, center, $lightColor);
		}
		.sectionIdeas__text--xl{
			@include text(2rem, auto, center, $lightColor);
			margin: 1rem;
			padding: 1rem;
			span{
				color: map-get($map:$paleta,$key:'darkblue');
			}
		
		}
		.sectionIdeas__form{
			width: 80%;
			margin: 3rem;
			padding: 1rem;
			background-color: map-get($map:$paleta,$key:'darkblue');
			border: solid 3px white;
			border-radius: 10px;
			@include flexContent(column, space-around, all);
			label{
				@include text($textS, auto, left, $lightColor);
			}
			input{
				font-size: 1.5rem;
			}
			.buttonForm{
				@extend %button;
				background-color: whitesmoke;
				transition: all 0.7s;
				&:hover{
					background-color: map-get($map:$paleta,$key:'darkblue');
					color: $lightColor;
				}
			}
			&:hover{
				border: solid 3px map-get($map:$paleta,$key:'darkblue');
			}
			textarea{
				font-size: 1.5rem;
			}
		}
		.cardTalkToUs{
			border-radius: 10px;
			transition: all 0.7s;
			background-color: map-get($map:$paleta,$key:'dark');
			@include flexContent(column, space-around, all);
			img{
				padding: 1rem;
			}
			.card__title{
				padding: 1rem;
				@include text(2rem, auto, center, map-get($map:$paleta,$key:'white'));
			}
			.card__text{
				padding: 1rem;
				@include text($textS, auto, center, map-get($map:$paleta,$key:'white'));
			}
			@media (min-width: 991px){
				margin-top: 5rem;
			}
		}
	}
	.advisorContact{
		align-items: center;
		.advisorContact__title--xl{
			@include text(3rem, auto, center, $lightColor);
			span{
				color: map-get($map:$paleta,$key:'darkblue');
			}
		}
		.advisorContact__text{
			@include text(2rem, auto, center, $lightColor);
			margin: 1rem;
			padding: 1rem;
		}
		.sectionAdvisor__form{
			width: 80%;
			margin: 3rem;
			padding: 1rem;
			background-color: map-get($map:$paleta,$key:'darkblue');
			border: solid 3px white;
			border-radius: 10px;
			@include flexContent(column, space-around, all);
			label{
				@include text($textS, 2rem, left, $lightColor);
				overflow-y: hidden;
			}
			input{
				font-size: 1.5rem;
			}
			select{
				font-size: 1.5rem;
			}
			textarea{
				font-size: 1.5rem;
			}
			.buttonForm{
				@extend %button;
				background-color: whitesmoke;
				transition: all 0.7s;
				&:hover{
					background-color: map-get($map:$paleta,$key:'darkblue');
					color: $lightColor;
				}
			}
			&:hover{
				border: solid 3px map-get($map:$paleta,$key:'darkblue');
			}
		}
	}
}
